
0x01-python-if_else_loops_functions/9-main.py
0x02-python-import_modules/hidden_4.pyc
0x05-python-exceptions/__pycache__/0-safe_print_list.cpython-34.pyc
0x05-python-exceptions/__pycache__/1-safe_print_integer.cpython-34.pyc
0x05-python-exceptions/4-main.py
0x05-python-exceptions/5-main.py
0x05-python-exceptions/6-main.py
0x05-python-exceptions/7-main.py
0x05-python-exceptions/8-main.py
0x05-python-exceptions/3-main.py
0x05-python-exceptions/2-main.py
0x05-python-exceptions/100-main.py
.DS_Store
0x08-python-more_classes/.vscode/settings.json
0x09-python-everything_is_object/.vscode/settings.json
0x09-python-everything_is_object/__pycache__/101-locked_class.cpython-37.pyc
0x0B-python-input_output/__pycache__/8-load_from_json_file.cpython-38.pyc
0x0B-python-input_output/__pycache__/8-load_from_json_file.cpython-37.pyc
0x0B-python-input_output/__pycache__/7-save_to_json_file.cpython-38.pyc
0x0B-python-input_output/__pycache__/7-save_to_json_file.cpython-37.pyc
0x0B-python-input_output/read_write_heap.py
0x0B-python-input_output/my_first_file.txt
0x0B-python-input_output/my_file_0.txt
0x0B-python-input_output/file_append.txt
0x0B-python-input_output/add_item.json
0x0B-python-input_output/13-main.py
0x0B-python-input_output/append_after_100.txt
0x0B-python-input_output/__pycache__/0-read_file.cpython-38.pyc
0x0C-python-almost_a_circle/.vscode/settings.json
0x0C-python-almost_a_circle/tests/models/__pycache__/__init__.cpython-38.pyc
0x0C-python-almost_a_circle/tests/models/__pycache__/test_base.cpython-38.pyc
0x0C-python-almost_a_circle/tests/models/__pycache__/test_rectangle.cpython-38.pyc
0x0C-python-almost_a_circle/tests/models/__pycache__/test_square.cpython-38.pyc
0x0D-SQL_introduction/test_update.sql
